<div class="container-fluid" style="margin-top: 50px;" >
    <h2 style="text-align: center;">Contáctenos</h2>
    <form action="">
        <div class="row" style="justify-content: center;">
            <div class="mb-3 col-7">
                <label for="inputName" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="inputName" placeholder="Nombre Apellido" required>
              </div>
        </div>
        <div class="row" style="justify-content: center;">
            <div class="mb-3 col-7">
                <label for="inputMail" class="form-label">Correo Electrónico</label>
                <input type="email" class="form-control" id="inputMail" placeholder="nombre@ejemplo.com" required>
              </div>
        </div>
        <div class="row" style="justify-content: center;">
            <div class="mb-3 col-7">
                <label for="inputTelephone" class="form-label">Teléfono</label>
                <input type="number" class="form-control" id="inputTelephone" required>
              </div>
        </div>
        <div class="row" style="justify-content: center;">
            <div class="mb-3 col-7">
              <label for="inputMessage" class="form-label">Comentario/Mensaje</label>
              <textarea class="form-control" id="inputMessage" rows="3" required></textarea>
            </div>
        </div>
        <div class="row"  style="justify-content: center;">
            <div class="mb-3 col-7">
                <button type="submit" class="btn " style="background-color: #9E2A2B; color: white;">Enviar</button>
            </div>
        </div>
    </form>
</div>