<!-- Toolbar -->
<header>
  <nav class="navbar navbar-expand-lg navbar-dark navColor">
    <img class="img-fluid navImg" src="./assets/NombreSinFondoPequenno.png" />
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse navList" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-center" aria-current="page" href="#">INICIO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-center" href="#">RESTAURANTES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-center" href="#">PREGUNTAS<br>FRECUENTES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-center" href="#">SOBRE<br>NOSOTROS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-center" href="#">CONTÁCTENOS</a>
          </li>
          <li class="nav-item">
            <button id="login-button" height="44" width="48">
              <input type="image" src="./assets/Login.png" height="34" width="38" />
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<main>

  <div class="row content">
    <div class="col-10">
      <img class="img-fluid" src="./assets/FeedPrincipal.png" />
    </div>
  </div>
  <div class="row content">
    <div class="col-10">
      <img class="img-fluid" src="./assets/B4.png" />
    </div>
  </div>
</main>

<footer>
  <img class="img-fluid footerImg" src="./assets/LogoSinfondo.png" />
  <p class="footerP">CriTica.com | Todos los derechos reservados. | &copy;2022</p>
</footer>







<!-- <div class="toolbar" role="banner">
    <img src="./assets/NombreSinFondoPequenno.png" />
    <div class="spacer"></div>
    <a id="inicio-page" target="_blank" rel="noopener" href="" title="Inicio">
      INICIO
    </a>
    <a id="restaurante-page" target="_blank" rel="noopener" href="" title="Restaurantes">
      RESTAURANTES
    </a>
    <a id="preguntas-page" target="_blank" rel="noopener" href="" title="Restaurantes">
      PREGUNTAS<br>FRECUENTES
    </a>
    <a id="nosotros-page" target="_blank" rel="noopener" href="" title="Restaurantes">
      SOBRE<br>NOSOTROS
    </a>
    <a id="contacto-page" target="_blank" rel="noopener" href="" title="Restaurantes">
      CONTÁCTENOS
    </a>
    <button id="login-button" height="44" width="48">
      <input type="image" src="./assets/Login.png" height="34" width="38" />
    </button>
  </div>
  
  <div class="content">
    <img src="./assets/FeedPrincipal.png" />
    <img src="./assets/B4.png" />
  </div>
  
  <div id="footer">
    <img src="./assets/LogoSinfondo.png" />
  </div> -->


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->