
<!-- Toolbar -->
<div class="toolbar" role="banner">
    <img src="./assets/NombreSinFondoPequenno.png" />
    <div class="spacer"></div>
    <a id="inicio-page" target="_blank" rel="noopener" href="" title="Inicio">
          INICIO
        </a>
    <a id="restaurante-page" target="_blank" rel="noopener" href="" title="Restaurantes">
          RESTAURANTES
        </a>
    <a id="preguntas-page" target="_blank" rel="noopener" href="" title="Restaurantes">
          PREGUNTAS<br>FRECUENTES
        </a>
    <a id="nosotros-page" target="_blank" rel="noopener" href="" title="Restaurantes">
          SOBRE<br>NOSOTROS
        </a>
    <a id="contacto-page" target="_blank" rel="noopener" href="" title="Restaurantes">
          CONTÁCTENOS
        </a>
    <button id="login-button" height="44" width="48">
          <input type="image" src="./assets/Login.png" height="34" width="38"/>
    </button>
</div>

<div class="content">
    <img src="./assets/FeedPrincipal.png" />
    <img src="./assets/B4.png" />
</div>

<div id="footer">
  <img src="./assets/LogoSinfondo.png" />
</div>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->