<div class="container-fluid" style="margin-top: 50px;">
    <h2 style="text-align: center;">Preguntas Frecuentes</h2>


    <div class="accordion" id="accordionPanelsStayOpenExample" style="margin-top: 50px; margin-bottom: 50px;" >

        <div class="accordion-item" *ngFor="let frecuentes of arrayPreguntaFrecuente">
            <h2 class="accordion-header" id="pregunta1">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#respuesta1" aria-expanded="false" aria-controls="respuesta1">
                    {{ frecuentes.Pregunta }}
                </button>
            </h2>
            <div id="respuesta1" class="accordion-collapse collapse show" aria-labelledby="pregunta1">
                <div class="accordion-body">
                    <p> {{ frecuentes.Respuesta }}</p>
                </div>
            </div>
        </div>

    </div>
</div>