<div class="container-fluid" style="margin-top: 50px;">
    <h2 style="text-align: center;">Preguntas Frecuentes</h2>

    <div class="accordion" id="accordionPanelsStayOpenExample" style="margin-top: 50px; margin-bottom: 50px;">

        <div class="accordion-item">
            <h2 class="accordion-header" id="pregunta1">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#respuesta1" aria-expanded="false"
                    aria-controls="respuesta1">
                    ¿Pregunta 1?
                </button>
            </h2>
            <div id="respuesta1" class="accordion-collapse collapse"
                aria-labelledby="pregunta1">
                <div class="accordion-body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa aut possimus quia eius
                        exercitationem
                        perspiciatis in, odio ad, dolorem quae quidem.Magnam aliquid architecto ratione cum quos
                        adipisci debitis iste?</p>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="pregunta2">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#respuesta2" aria-expanded="false"
                    aria-controls="respuesta2">
                    ¿Pregunta 2?
                </button>
            </h2>
            <div id="respuesta2" class="accordion-collapse collapse"
                aria-labelledby="pregunta2">
                <div class="accordion-body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa aut possimus quia eius
                        exercitationem
                        perspiciatis in, odio ad, dolorem quae quidem.Magnam aliquid architecto ratione cum quos
                        adipisci debitis iste?</p>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="pregunta3">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#respuesta3" aria-expanded="false"
                    aria-controls="respuesta3">
                    ¿Pregunta 3?
                </button>
            </h2>
            <div id="respuesta3" class="accordion-collapse collapse"
                aria-labelledby="pregunta3">
                <div class="accordion-body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa aut possimus quia eius
                        exercitationem
                        perspiciatis in, odio ad, dolorem quae quidem.Magnam aliquid architecto ratione cum quos
                        adipisci debitis iste?</p>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="pregunta4">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#respuesta4" aria-expanded="false"
                    aria-controls="respuesta4">
                    ¿Pregunta 4?
                </button>
            </h2>
            <div id="respuesta4" class="accordion-collapse collapse"
                aria-labelledby="pregunta4">
                <div class="accordion-body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa aut possimus quia eius
                        exercitationem
                        perspiciatis in, odio ad, dolorem quae quidem.Magnam aliquid architecto ratione cum quos
                        adipisci debitis iste?</p>
                </div>
            </div>
        </div>

         <div class="accordion-item">
            <h2 class="accordion-header" id="pregunta5">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#respuesta5" aria-expanded="false"
                    aria-controls="respuesta5">
                    ¿Pregunta 5?
                </button>
            </h2>
            <div id="respuesta5" class="accordion-collapse collapse"
                aria-labelledby="pregunta5">
                <div class="accordion-body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa aut possimus quia eius
                        exercitationem
                        perspiciatis in, odio ad, dolorem quae quidem.Magnam aliquid architecto ratione cum quos
                        adipisci debitis iste?</p>
                </div>
            </div>
        </div>

    </div>
</div>