.toolbar {
    font-family: 'Lato', sans-serif;
    height: 125px;
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    background-color: #9E2A2B;
    color: #FBF8F1;
    font-size: 20px;
    font-weight: 600;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-direction: row;
    margin: 0;
}

.toolbar img {
    margin-left: 20px;
}

.toolbar #inicio-page,
#restaurante-page {
    text-align: center;
    height: 40px;
    margin-right: 25px;
    margin-left: 25px;
}

.toolbar #preguntas-page,
#nosotros-page {
    text-align: center;
    height: 60px;
    margin-right: 25px;
    margin-left: 25px;
}

.toolbar #contacto-page {
    text-align: center;
    height: 40px;
    margin-right: 25px;
    margin-left: 25px;
}

.toolbar #login-button {
    border: none;
    border-radius: 10px;
    background-color: #9E2A2B;
    text-align: center;
    height: 60px;
    margin-right: 275px;
    margin-left: 25px;
}

.toolbar #login-button:hover {
    background-color: #630A10;
    opacity: 0.8;
}

a,
a:visited,
a:hover {
    color: #FBF8F1;
    text-decoration: none;
}

a:hover {
    color: #0E0D0D;
}

 #footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 195px;
    background-color: #003049;
    text-align: center;
    margin: 0;
}

#footer img {
    margin-top: 30px;
    width: 155px;
    height: 146px;
}
/* ---------------------------------------nuevo--------------------------------------------------- */
.navColor {
    background-color: #9E2A2B;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 600;
    width: 100%;
}

.centerT {
    justify-content: center;
    align-items: center;
    display: flex;
}

footer{
    background-color: #003049;
    text-align: center;
}

.footerImg {
    max-width: 155px;
    max-height: 146px;
} 

.footerP{
    background-color: #669BBC;
}

.content {
    justify-content: center;
}

.navList{
    padding-left: 50px;
}

.navImg{
    padding-left: 200px;
}

.loginImg{

    background-color: #9E2A2B;
}

li #login-button:hover {
    background-color: #630A10;
    opacity: 0.8;
}

li #login-button {
    border: none;
    border-radius: 10px;
    background-color: #9E2A2B;
    text-align: center;
    height: 60px;
}
